.container{
            min-width: 200px;
            width: 80vw;
            max-width: 550px;
            min-height: 400px;
            
            border-radius: 10px;
            border: 1px solid gray;
            display:flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            padding: 2vw;
            position: relative;
            top: 5vw;     
        }

        form{
          display:flex;
          flex-direction: column;
            
          
        }
       
        fieldset{
          border: 1px solid black;
          display: flex;
          width: 100%;
          
          display: flex;
          justify-content: space-around;
          align-items: space-between;
          flex-direction: column;
          
          padding: 10px
          

          
        }

        legend{
          all: revert;
          font-size: 15px;
        }


        input[type="submit"]{
    
          background-color: rgb(14, 119, 255);
          color: white;
          padding: 5px;
          padding-left: 25px;
          padding-right: 25px;
          border: 1px;
          border-radius: 5px;
          font-size: 20px;
        }

        .inputCont{
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 20px;
          border: 1px solid gray; 
          border-radius: 8px;
          margin: 2px;
          padding: 2px;      
          height: 70px;
        }
        
      label{
        border: 1px solid gray;
        border-radius: 8px;
        padding: 1px;
        margin: 5px;
        
      }

     

        #clueSubmit {
          background-color: red;
          width: 180px;
        }

button{
    background-color: rgb(14, 119, 255);
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px;
    border-radius: 5px;
    font-size: 20px;
    
}

.center{
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex; 
  justify-content: 
  center;


}

.stealth-option{
    
    background-color: rgb(236, 236, 236);
    border: 2px solid rgb(209, 209, 209);
    padding: 2px;
    width: 90%;
    height: 40px;
    margin: 3px;
}
     
       